.cardContainer {
    background-color: #f6f3f3;
    border: 1px solid #400303;
    border-radius: 8px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
}

.overskrift {
    margin: 0;
    font-size: 18px;
}

.indhold {
    margin: 0;
    font-size: 14px;
}

.dato {
    margin: 0;
    font-size: 12px;
    color: #666;
}

.billeder {
    max-width: 100%;
    border-radius: 4px;
    object-fit: cover;
}

// Desktop layout - fancy grid positions, Dette er lavet med hjælp af copilot
@media (min-width: 768px) {

    /* Første card - fyldt hele bredde */
    .cardContainer:nth-child(1) {
        grid-column: span 2 / span 2;
    }

    /* Alle cards er halv i bredden, */
    .cardContainer:nth-child(2) {
        grid-row: span 2 / span 2;
        grid-row-start: 2;
    }

    .cardContainer:nth-child(3) {
        grid-row-start: 2;
        img{ 
            height: 200px;
        }
    }

    .cardContainer:nth-child(4) {
        grid-column-start: 1;
        grid-row-start: 4;
        img{
            height: 200px;
        }
    }

    .cardContainer:nth-child(5) {
        grid-row: span 2 / span 2;
        grid-column-start: 2;
        grid-row-start: 3;
        img{
            height: 700px;
        }
    }

    .cardContainer:nth-child(6) {
        grid-column: span 2 / span 2;
        grid-row-start: 5;
    }

    .cardContainer:nth-child(7) {
        grid-column: span 2 / span 2;
        grid-row-start: 6;
    }

    .cardContainer:nth-child(8) {
        grid-row-start: 7;
    }

    .cardContainer:nth-child(9) {
        grid-row-start: 7;
    }
}
